header{
    background-color: #101026;
    padding: 3rem;
    text-align: center;
}
a{
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}